version: "3.8"
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - BASIC_INFO_API_URL=http://json-server-step1:4001
      - DETAILS_API_URL=http://json-server-step2:4002
    depends_on:
      - json-server-step1
      - json-server-step2

  json-server-step1:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./server:/app/server
    command: npx json-server server/db-step1.json --port 4001 --host 0.0.0.0
    ports:
      - "4001:4001"

  json-server-step2:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./server:/app/server
    command: npx json-server server/db-step2.json --port 4002 --host 0.0.0.0
    ports:
      - "4002:4002"
